{% extends "layout.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Kills per Minute per Faction</h1>
		</div>
	</div>

	<div class="row" style="text-align: center">
		<div class="col-md-4">
			<div class="well kpm vs">
				<h1>VS</h1>
				<h3>1</h3>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well kpm nc">
				<h1>NC</h1>
				<h3>2</h3>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well kpm tr">
				<h1>TR</h1>
				<h3>3</h3>
			</div>
		</div>
	</div>
{% endblock %}