{% extends "layout.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Simple Event - {{ cache.get('experience', event) }}</h1>
		</div>
	</div>
	<div class="row" style="text-align: center">
		<div class="col-md-12">
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Count</th>
				</tr>
				{% for pid, count in kt.tracker.top(event, top) %}
					<tr>
						{{ charactercell(cache.get('character', pid)) }}
						<td>{{ count }}</td>
					</tr>
				{% endfor %}
			</table>

		</div>
	</div>
{% endblock %}