{% extends "layout.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Weapon Stats for {{ characterinline(cache.get('character', cid)) }} / {{ cache.get('item', weapon) }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>Kills rolling 24 hours</h3>
		</div>
	</div>
	<div class="row" style="text-align: center">
		<div class="col-md-12">
			<table class="table">
				<tr>
					<th>Attacker</th>
					<th>Killed</th>
					<th>Headshot</th>
					<th>Time</th>
				</tr>
				{% for kill in total %}
					<tr>
						{{ charactercell(cache.get('character', kill['attacker_character_id'])) }}
						{{ charactercell(cache.get('character', kill['character_id'])) }}
						<td>{{ kill['is_headshot'] }}</td>
						<td>{{ kill['is_headshot'] }}</td>
					</tr>

				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}